/*color palette: https://colorhunt.co/palette/eac696c8ae7d76582765451f */

.cont {
  background-color: #65451F;
  width: 100%;
  height: 100%;
}

h3 {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.bottom {
  background-color: #000;
  color: #EAC696;
  padding: 10px;
}

.body {
  background-color: #EAC696;
  margin: 10px;
}

.footer {
  background-color: #000;
  color: #EAC696;
  padding: 10px;
}

.tabs{
  margin: 5px;
  background-color: #C8AE7D;
}

.tabcontent {
  margin: 5px;
}