/*color palette: https://colorhunt.co/palette/eac696c8ae7d76582765451f */


/* App.css */

.cont {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

h3 {
  text-align: center;
}

h4 {
  color: #000;
}

.bottom {
  background-color: #000;
  color: #EAC696;
  padding: 10px;
}

.body {
  flex: 1; 
  background-color: #EAC696;
  /* margin: 10px; */
}

.footer {
  background-color: #000;
  color: #EAC696;
  /* padding: 10px; */
}

.tabs {
  margin: 5px;
  background-color: #C8AE7D;
}

.tabcontent {
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
}

/* nav-link.active {
  background-color: #EAC696 !important;
} */

/* Add book */
.book-form {
  background-color: #65451F;
  padding: 20px;
}

/*book card */

.loading {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
}

.loading.hidden {
  opacity: 0;
}


.card-body{
  margin: 0px 10px 0px 10px;
  padding: 0;
}

.image-holder {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 15rem;
}

.card-image{

  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  
}

.author,
.price,
.stock {
  font-size: 12px;
  margin: 0;

}

.book-card {
  margin: 5px;
  padding-top: 5px; /* Add a margin to create spacing between cards */
  background-color: #C8AE7D;
  border-radius: 0.5rem;
  box-shadow: #65451F 2px 2px ;
  border: #000 ;
}

.card-btn{
  padding: 0px 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #C8AE7D;
  background-color: #65451F;
  border: #65451F;
  box-shadow: #000 1px 1px;
  width: fit-content;
}


/* .price,
.stock {
  display: inline-block;
  margin-right: 4rem;
} */

/* book stock */

.custom-table {
  margin: 20px;
}

/* .search-book{
  background-color: #65451F;
} */

/* .search-book .bg-brown:hover {
  background-color: #65451F; 
} */

