/*color palette: https://colorhunt.co/palette/eac696c8ae7d76582765451f */

/* App.css */

.cont {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

h3 {
  text-align: center;
}

h4 {
  color: #000;
}

.bottom {
  background-color: #000;
  color: #EAC696;
  padding: 10px;
}

.body {
  flex: 1; /* Allow the body to take up the remaining vertical space */
  background-color: #EAC696;
  /* margin: 10px; */
}

.footer {
  background-color: #000;
  color: #EAC696;
  /* padding: 10px; */
}

.tabs {
  margin: 5px;
  background-color: #C8AE7D;
}

.tabcontent {
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
}

/* nav-link.active {
  background-color: #EAC696 !important;
} */

/* Add book */
.book-form {
  background-color: #65451F;
  padding: 20px;
}

/*book card */
.book-list{
  /* align-items: center; */
  /* justify-content: center; */
}

.card-body{
  margin: 0;
  padding: 0;
}

.author,
.price,
.stock {
  font-size: 12px;
  margin: 0;

}

.book-card {
  margin: 5px;
  padding-top: 5px; /* Add a margin to create spacing between cards */
}

.card-btn{
  padding: 0px 5px;
  margin-bottom: 10px;
  color: #C8AE7D;
  background-color: #000;
  border: #65451F;
  box-shadow: #65451F 1px 1px;
}


/* .price,
.stock {
  display: inline-block;
  margin-right: 4rem;
} */